{% extends "layout.html" %}

{% block pageBody %}
	 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tehlug</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">sample link1</a></li>
      <li><a href="#" data-toggle="modal" data-target="#add-pres"><span class="glyphicon glyphicon-user" ></span> ثبت ارائه</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#" data-toggle="modal" data-target="#register"><span class="glyphicon glyphicon-user" ></span> ثبت‌نام</a></li>
        {% if user.is_authenticated %}
        <a href="/logout" data-toggle="modal" data-target=""><span class="glyphicon glyphicon-log-in" ></span> خروج</a></li>
        {% else %}
        <a href="#" data-toggle="modal" data-target="#login"><span class="glyphicon glyphicon-log-in" ></span> ورود</a></li>
        {% endif %}

    </ul>
  </div>
</nav>






<div class="container">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>نظرات کاربران </th>
        <th>ثبت سوال</th>
        <th>توضیحات</th>
        <th>عنوان ارائه</th>
        <th>نام ارائه دهنده</th>
       	<th>#</th>

      </tr>
    </thead>
    <tbody>

          {% for Presentation in preseantations %}
             <tr>
            <td>//</td>
            <td><div class="row-centered">
	        	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ask-question"><span class="badge">?</span></button>
	        </div></td>
             <td>{{Presentation.description}}</td>
             <td>{{Presentation.title}}</td>
             <td>{{Presentation.person}}</td>
             <td>{{Presentation.id}}</td>
             </tr>
           {% endfor %}
      </tr>

    </tbody>
  </table>
</div>





<!-- #####################QUESTION MODAL######################### -->
<div class="modal fade" id="ask-question" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">سوال بپرسید</h4>
        </div>
        <div class="modal-body">
          <p>به زودی در اینجا محل قرارگیری متن می‌ورید</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- #####################ThumbUp MODAL######################### -->
<div class="modal fade" id="ask-question" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">سوال بپرسید</h4>
        </div>
        <div class="modal-body">
          <p>به زودی در اینجا محل قرارگیری متن می‌ورید</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- #####################ThumbDown MODAL######################### -->
<div class="modal fade" id="ask-question" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">سوال بپرسید</h4>
        </div>
        <div class="modal-body">
          <p>به زودی در اینجا محل قرارگیری متن می‌ورید</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
        </div>
      </div>
    </div>
  </div>
</div>
{#{% comment %}###################REGISTER MODAL###################{% endcomment %}#}
<div class="modal fade" id="login" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">سوال بپرسید</h4>
        </div>
        <div class="modal-body">


    <section class="hero" id="login-hero">
        <div class="texture-overlay"></div>
        <div class="container">
            <div class="row nav-wrapper">
                <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                </div>
            </div>
            <div class="row hero-content">
                <div class="col-md-12">
                    <h1 class="animated fadeInDown">لطفن وارد شوید</h1>
                    {{ invalid_html }}
                    <form action="." method="POST" class="form-horizontal" dir="rtl" role="form">{% csrf_token %}
                        <div class="form-group">
                            <label for="inputUsername" class="col-sm-2 control-label">نام کاربری</label>

                            <div class="col-sm-10">
                                <input class="form-control" name="username" type="text"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label">رمز عبور</label>

                            <div class="col-sm-10">
                                <input class="form-control" name="password" type="password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label><input name="remember" type="checkbox"/> مرا به خاطر نگه دار</label>
                                </div>
                            </div>
                        </div>
			<input type="submit" name="submit" value="ورود"
			                       class="btn-block btn-lg btn-primary learn-btn btn-margin">

					       <br />
                        <a href="#" class="learn-btn fadeInUp youtube-media">رمز عبور را فراموش کرده‌ام<i
					class="fa fa-arrow-down"></i></a><br />
		<a href="/register" class="learn-btn fadeInUp youtube-media">ایجاد حساب کاربری جدید<i
				                                class="fa fa-arrow-down"></i></a>
                    </form>
                </div>
            </div>
        </div>
    </section>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %}
##########################REGISTER MODAL##################
{% endcomment %}
    <div class="modal fade" id="register" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">سوال بپرسید</h4>
        </div>
        <div class="modal-body">

<div class="row">
                <form action="/register/" method="post" role="form">{% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.as_p }}
                    <br/><br/>
                    <input type="submit" name="submit" value="Register"
                           class="btn-block btn-lg btn-primary learn-btn btn-margin">

                   <br /><br />
                 </form>
        </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
        </div>
      </div>
    </div>
  </div>
</div>

    {% comment %}
##########################REGISTER MODAL##################
{% endcomment %}
    <div class="modal fade" id="add-pres" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">ثبت ارائه</h4>
                  </div>
                <div class="modal-body">

                    <div class="row">

            <form action="." method="POST" class="form-horizontal" dir="rtl" role="form">{% csrf_token %}
                            <div class="form-group">
                                <label for="presname" class="col-sm-2 control-label">عنوان ارائه</label>

                                <div class="col-sm-8">
                                    <input class="form-control" name="presname" type="text"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="presdesc" class="col-sm-2 control-label">توضیحات</label>

                                <div class="col-sm-8">
                                    <input class="form-control" name="presdesc" type="text"/>
                                </div>
                            </div>

                <input type="submit" name="submit" value="ثبت"
                                       class="btn-block btn-lg btn-primary learn-btn btn-margin">

                        </form>




            </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">بستن</button>
                </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}